body{
  margin-bottom: 70px;
}

/*
tr:nth-child(even) {
  background-color: #f2f2f2
}

tr:hover td {
   background-color: yellow;
}

*/


h1{
  color: #33313b;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #33313b;
}

.pagination{
  justify-content: center;
}

#sizealert{
  width:40%;
}

.size{
  padding-top: 70px;
  padding-left: 10%;
  padding-right: 10%;
}
/* footer changer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: rgba(255,255,255,.5);
    background-color: #343a40;
}

/* navbar changer */

.navbar {
  background-color: #343a40;
}
.navbar .navbar-brand {
  color: white; /* brand */
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: rgba(255,255,255,.75);
}
.navbar .navbar-text {
  color: #ecf0f1;
}
.navbar .navbar-text a {
  color: #ecdbff;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: rgba(255,255,255,.75);
}
.navbar .navbar-nav .nav-link {
  color: rgba(255,255,255,.5); /* text*/
  border-radius: .25rem;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: rgba(255,255,255,.75); /* link focus */
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #ecdbff;
  background-color: #8e44ad;
}
.navbar .navbar-toggle {
  border-color: #8e44ad;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #8e44ad;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ecf0f1;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ecf0f1;
}
.navbar .navbar-link {
  color: #ecf0f1;
}
.navbar .navbar-link:hover {
  color: #ecdbff;
}
